@(signupForm: Form[Application.Register], loginForm: Form[Application.Login])

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(null, scripts) {

  @wflash()
  <div class="col-lg-9">
    This is a revolutionary app that will allow you to find the most amazing things happening around you!
  </div>

  <!--div class="col-lg-3">
    <div class="well">
      @login(loginForm)
    </div>

    <div class="well">
      @account.signup.createFormOnly(signupForm)
    </div>
  </div-->
}